/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  background-color: #131f2d;
  font-family: Roboto;
}

/* Navigation Link */
.nav-link {
  font-family: Poppins, sans-serif;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  transition: color 0.3s, border-color 0.3s;
}

.nav-link:hover {
  color: black;
  border-bottom: 1px solid black;
}

.navbar-toggler {
  border: none;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 12rem 0rem;
  border: 1px solid red;
}

.simbol-nav {
  margin: 0rem 1rem;
  font-size: 20px;
  color: white;
}

.icons-nav {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.offcanvas {
  background-color: rgb(15, 23, 42);
}

.form-control {
  background-color: rgb(238, 234, 234);
  border: none;
}
.form-control:hover {
  background-color: white;
}

.about-img {
  width: 100%;
  border-radius: 15px;
  -webkit-mask: url(../svg/splace.svg) center / 120% no-repeat;
}

#footer {
  background-color: rgb(15, 23, 42);
  color: white;
  margin-top: 4rem;
  padding-top: 5rem;
  display: flex;
}

#footer h3,
p {
  color: rgb(209, 202, 202);
}

#footer p a {
  color: rgb(209, 202, 202);
  text-decoration: none;
  font-size: 17px;
}

#footer p a:hover {
  color: white;
}

#head {
  margin-bottom: 1rem;
}

.icons {
  border: 1px solid white;
  margin: 1rem 0.5rem;
  border-radius: 100%;
  padding: 5px 13px;
  font-size: 30px;
  cursor: pointer;
}

.icons:hover {
  background-color: rgb(20 184 166);
  color: white;
  border: 1px solid rgb(20 184 166);
}

.copyright {
  text-align: center;
  font-size: 18px;
  margin-bottom: 3rem;
}

.copyright span {
  color: white;
}

@media (max-width: 990px) {
  .about-img {
    display: none;
  }
}
/* Small devices (400px and down) */
@media (max-width: 400px) {
  .icons {
    padding: 5px 10px;
    font-size: 20px;
  }
  .copyright {
    font-size: 15px;
  }
}
