<!DOCTYPE html>
<html lang="id">
  <head>
    <title>Daftar Makanan</title>
  </head>
  <body>
    <h1>Daftar Makanan</h1>
    <ul>
      <% if (makanan && makanan.length > 0) { %> <% makanan.forEach(item => { %>
      <li><%= item.nama %> - <%= item.harga %></li>
      <% }) %> <% } else { %>
      <li>Data makanan tidak tersedia.</li>
      <% } %>
    </ul>
  </body>
</html>
